<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      
      <h1 class="modal-title fs-5" id="staticBackdropLabel">
        Asociar a Vehículo
      </h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div
        *ngFor="let list of blogList   "
        >
        <div class="input-group mb-3"
        >
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
              (change)="onCategoriaPressed(list,true)"
            />
          </div>
          <div
            class="row"
            type="text form-control"
            aria-label="Text input with checkbox"
            
          >
            <div class="col-4"><p>Placa:{{list.placa}}</p></div>
            <div class="col-4"><p>Modelos:{{list.modelo}}</p></div>
            <div class="col-4"><p>Capacidad:{{list.capacidad}} </p></div>
          </div>
        </div>
      </div>
      
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
        Cancelar
      </button>
      <button type="button" class="btn btn-success" (click)="onSumnit()" >Aceptar</button>
    </div>
  </div>
</div>
