<div class="modal-dialog">
  <div class="modal-content">
    <form [formGroup]="checkoutForm" name="crearEventoForm()" (ngSubmit)="createEvento(checkoutForm.value)">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Crear Vehículos</h1>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Placa</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            formControlName="placa"
            id="placa"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Modelo</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            formControlName="modelo"
            id="modelo"
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Capacidad</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            formControlName="capacidad"
            id="capacidad"
          />
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
        Cerrar
      </button>
      <button type="button" class="btn btn-success" type="submit">Crear</button>
    </div>
  </form>
  </div>
</div>
